<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geyu.home">

    <application>
        <activity android:name=".ui.activity.Home_RecordEditActivity" />
        <activity android:name=".ui.activity.Home_recordDetailActivity" />
    </application>
</manifest>